@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.container {
  width: 90%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 800px;
}

/* Хедер */

.header-container {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 50px; 
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 24px;
  margin: auto;
  justify-self: center;
}

.topmenu {
  display: inline-grid;
  grid-auto-flow: column;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  color: white;
  position: relative;
  justify-content: space-between;
}

.submenu {
  display: inline-grid;
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 15px;
  z-index: 10;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border: 1px solid #686868;
  border-radius: 10px;
  row-gap: 10px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #000000;
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.submenu > li {
  display: inline-block;
}

ul li:hover .submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

li a {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
}

.header-container a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
  
.header-container a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:hover p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.header-container a {
  color: #fff;
  text-decoration: none;
}

.header-container p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

/* Статьи */

.posts-container {
  margin:auto;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posts-container h3 {
  color: #ffffff;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 20px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 24px;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.post h1 {
  margin: 0px;
  font-size: 24px;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.post h2 {
  margin: 0px;
  font-size: 24px;
}

.post p {
  margin: 10px 0;
  line-height: 1.6;
}

.read-more {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 18px;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 0%, 0.4);
}

.tag{
  /* border: 1px solid #989898; */
  color: #ffffff;
  background-color: #696969;
  border-radius: 4px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  font-family: 'JetBrains mono', monospace;
  font-size: 14px;
}

.read-more:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 64%, 0.4);
}


code {
  font-family: 'JetBrains mono', monospace;
  background-color: #1e1e1e;
  color: #ffffff;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 16px;
}

pre {
  border-radius: 5px;
  padding: 10px;
  background-color: #1e1e1e;
}

p > code {
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  padding: 0px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 400;
  font-size: 20px;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 5px;
  font-size: 18px;
}

.pagination a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer {
  color: #c5c5c5;
  padding-bottom: 20px;
}