@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Общие стили */
html,body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #070707;
  /* background: #00081f;
  background: linear-gradient(186deg,rgba(0, 8, 31, 1) 0%, rgba(26, 17, 0, 1) 59%, rgba(23, 0, 0, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

.container {
  width: 95%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 800px;
  min-height: 100%;
  display: flex;
	flex-direction: column;
  flex: start;
}


/* Хедер */

.header-container {
  flex: 0 0 auto;
  width: 100%;
  /* background-color: #000000; */
  color: #ffffff;
  display: flex;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 50px; 
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 24px;
  margin: auto;
  justify-self: center;
}

.topmenu {
  display: inline-grid;
  grid-auto-flow: column;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  color: white;
  position: relative;
  justify-content: space-between;
}

.submenu {
  display: inline-grid;
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 15px;
  z-index: 10;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border: 1px solid #686868;
  border-radius: 10px;
  row-gap: 10px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #000000;
}

.topmenu > ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.submenu ul {
  list-style: none; 
  margin: 0;
  padding: 15;
}

.submenu > li {
  display: inline-block;
}

ul li:hover .submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.header-container li a {
  display: flex;
  align-items: center;
}

.header-container li {
  display: flex;
  align-items: center;
}

.header-container a, .links {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
  
.header-container a:hover, .links:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.header-container li:hover p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.header-container a {
  color: #fff;
  text-decoration: none;
}

.header-container p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

/* Статьи */

.placeholder {
  color: white;
  font-family: 'JetBrains mono', monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

hr {
  border-color: #7b7b7b83;
  width: 100%;
  border-width: 1px;
}

.posts-container {
  flex: 1 1 auto;
  margin:auto;
  width: 100%;
  display: flex;
	flex-direction: column;
  flex: start;
  font-family: 'Inter', sans-serif;
}

.post-inline{
  color: white;
  font-family: 'JetBrains mono', monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  display: inline;
}

.post-inline a {
  color: white;
  display: inline;
  text-decoration: none;
  /* display: inline-block; */
  padding: 0px;
  margin-right: 5px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(109, 109, 109, 0.744);
}

.post-inline a:hover {
  text-decoration: underline;
  text-decoration-color: #696969;
  box-shadow: inset 0 -1.2em 0 rgba(109, 109, 109, 0.744);
}

.blog_links a {
  color: white;
  display: inline;
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 20px;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.post a {
  color: rgb(0, 75, 179);
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(68, 118, 255, 0.744);
}
.post a:hover {
  box-shadow: inset 0 -1.2em 0 rgba(59, 108, 255, 0.411);
}

  
.blog_links a:hover{
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.posts-container .tags{
  color: #ffffff;
  font-family: 'JetBrains mono', monospace;
  font-size: 16px;
}

.tag_link{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  border: 1px solid #686868;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.tag_link_hover{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  border: 1px solid #686868;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.tag_link:hover {
  
  background-color: hsla(0, 0%, 100%, 0.4);
}

.posts-container h3 {
  color: #ffffff;
  padding: 0px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 16px;
}

.post {
  margin-top: 20px;
  /* margin-bottom: 10px; */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
}

.post h1 {
  margin: 0px;
  font-size: 24px;
}

.description img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content img {
  border-radius: 10px;
  border: 1px solid #989898;
  max-width: 100%;
}

.post h2 {
  margin: 0px;
  font-size: 24px;
}

.post p {
  margin: 5px 0;
  line-height: 1.6;
}

.description p, .content p {
  margin: 15px 0;
  line-height: 1.6;
}

.post .read-more {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-family: 'JetBrains mono', monospace;
  font-weight: 800;
  font-size: 18px;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 0%, 0.4);
}

.post .tag, .post-inline .tag{
  /* border: 1px solid #989898; */
  color: #ffffff;
  background-color: #696969;
  border-radius: 4px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'JetBrains mono', monospace;
  font-size: 14px;
  display: inline-block;
}

.post .read-more:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 64%, 0.4);
}


.codehilite code {
  font-family: 'JetBrains mono', monospace;
  color: #e1e1e1;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 14px;
}

.post li{
  line-height: 1.5;
}

.post ul{
  padding-inline-start: 20px;
}

pre {
  border-radius: 5px;
  padding: 10px;
  background-color: #1e1e1e;
}

p > code {
  background-color: #d8d8d8;
  color: #000000;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  padding: 0px;
  font-family: 'JetBrains mono', monospace;
  font-weight: 400;
  font-size: 20px;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 5px;
}

.pagination a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer {
  color: #c5c5c5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  flex: 0 0 auto;
  width: 100%;
  font-family: 'Inter', sans-serif;
}