{% extends "blog/base.html" %}
{% load static %}
{% load md_filter %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/code_styles.css' %}">
    <meta property="og:type" content="article"> 
    <meta property="og:title" content="{{ article.title }}">
    {% if first_image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ first_image }}">
        <meta name="twitter:card" content="{{ request.scheme }}://{{ request.get_host }}{{ first_image }}">
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:image:type" content="image/png">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="posts-container">
        <div class = "blog_links">
            <a href="{% url 'blog:article_list' %}">blog</a>
            <a href="{% url 'blog:article_all' %}">all posts</a>
        </div>
        <div class="post">
            <h1>{{article.title}}</h2>
            <p class = "pub_date">{{article.pub_date |date:"Y.m.j"}}</p>
            <div class = "tags"> 
                {% for tag in article.tags.all %}
                    <span class = "tag">#{{tag.name}}</span> 
                {% endfor %}
            </div>
            <div class = "description">{{article.description | render_markdown }}</div>
            <div class = "content">{{article.content | render_markdown }}</div>
        </div>
    </div>
{% endblock %}
       