{% extends "blog/base.html" %}
{% block content %}
{% load md_filter %}
{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/code_styles.css' %}">
         <!-- Open Graph -->
        <meta property="og:title" content="{{ article.title }}">
        <meta property="og:type" content="article">
        {% if first_image %}
            <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ first_image }}">
        {% endif %}
    </head>
    <div class="posts-container">
        <div class = "blog_links">
            <a href="{% url 'blog:article_list' %}">blog</a>
            <a href="{% url 'blog:article_all' %}">all posts</a>
        </div>
        <div class="post">
            <h1>{{article.title}}</h2>
            <p class = "pub_date">{{article.pub_date |date:"Y.m.j"}}</p>
            <div class = "tags"> 
                {% for tag in article.tags.all %}
                    <span class = "tag">#{{tag.name}}</span> 
                {% endfor %}
            </div>
            <div class = "description">{{article.description | render_markdown }}</div>
            <div class = "content">{{article.content | render_markdown }}</div>
        </div>
    </div>
{% endblock %}
       