{% extends "blog/base.html" %}
{% block content %}
{% load md_filter %}
{% load static %}
    <div class="posts-container">
        <div class = "blog_links">
            <a href="{% url 'blog:article_list' %}">blog</a>
            <a href="{% url 'blog:article_all' %}">all posts</a>
        </div>
        {% if tags %}
            <div class="tags">tags:
                {% for tag in tags %}
                    {% if tag_name %}
                        {% if tag_name == tag.name %}
                            <a href="{% url 'blog:article_list' %}" class="tag_link_hover">#{{tag.name}}</a>
                        {% else %}
                            <a href="{% url 'blog:article_by_tag_list' tag.name %}" class="tag_link">#{{tag.name}}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'blog:article_by_tag_list' tag.name %}" class="tag_link">#{{tag.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if page_obj %}
            {% for article in page_obj %}
                <div class="post">
                    <h2>{{article.title}}</h2>
                    <p class = "pub_date">{{article.pub_date |date:"Y.m.j"}}</p>
                    <div class = "tags"> 
                        {% for tag in article.tags.all %}
                            <span class = "tag">#{{tag.name}}</span> 
                        {% endfor %}
                    </div>
                    <div class = "description">{{article.description | render_markdown }}</div>
                    <a href="{% url 'blog:article' article.id %}" class="read-more">Читать далее</a>
                </div>
            {% endfor %}
        {% else %}
            <p class = "placeholder">No posts are available.</p>
        {% endif %}
    </div>
    <!-- Пагинация -->
    <div class="pagination">
        {% if page_obj.paginator.num_pages > 1 %}
            {% for num in pages_list %}
                {% if num != '…' %}
                    {% if num == page_obj.number %}
                        <strong><a href="?page={{ num }}">[{{ num }}]</a></strong>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
       