{% extends "blog/base.html" %}
{% block content %}
    <div class="posts-container">
        <h3>posts</h3>
        {% if articles_list %}
            {% for article in articles_list %}
                <div class="post">
                    <h2>{{article.title}}, id:{{article.id}}</h2>
                    <p class = "pub_date">{{article.pub_date |date:"Y.m.j"}}</p>
                    <div class = "tags"> 
                        {% for tag in article.tags.all %}
                            <span class = "tag">#{{tag.name}}</span> 
                        {% endfor %}
                    </div>
                    <p class = "descriprion">{{article.description |safe }}</p>
                    <a href="{% url 'blog:article' article.id %}" class="read-more">Читать далее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    </div>
    <!-- Пагинация -->
    <div class="pagination">
        {% for num in pages_list %}
            {% if num != '…' %}
                {% if num == articles_list.number %}
                    <strong><a href="?page={{ num }}">[{{ num }}]</a></strong>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
       